<div class="root">

  <!--HEADER-->
  <header class="header">
    <!-- TODO: сделать нормальную анимацию на кнопку-->
    <a (click)="onMenuBtnOpen()" class="header__menu btn-floating">
      <i class="material-icons" [ngClass]="{'header__menu-transitioned': isMenuTransitioned}">menu</i>
    </a>

    <div class="header__logo" (click)="onLogoClick()">
      <div class="header__logo-content">LoyaltyLab</div>
    </div>

    <div class="header__right-content">
      <div class="right-content__item" (click)="onProfileClick()" routerLink="/profile">
        <p class="right-content__item-text mobile-none">Profile</p>
        <img class="right-content__item-img circle" src="{{profileImage}}" alt="You">
      </div>
      <div class="right-content__item" (click)="onLogOutClick()">
        <i class="right-content__item-icon material-icons">exit_to_app</i>
        <p class="right-content__item-text mobile-none">Log&nbsp;out</p>
      </div>
    </div>
  </header>

  <!--NAVIGATION-->
  <nav class="left-nav" [ngClass]="{'left-nav__menu-open': isMenuOpen}">
    <div *ngFor="let page of pages" class="left-nav__page-btn waves-effect waves-light"
         [routerLink]="[page.link]" routerLinkActive="page-activated">
        <i class="page-btn__icon material-icons">{{ page.icon }}</i>
        <p class="page-btn__text">{{ page.text }}</p>
    </div>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
