@header-color: #FFFFFF;

.kek {
  font-size: 40px;
}

.mainContent {
  background: #F0F4FA;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.header {
  height: 60px;
  background: @header-color;
  width: 100%;
  position: fixed;
  top: 0px;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0,0,0,0.7);

  &__menu {
    position: absolute;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    background: linear-gradient(to bottom right, #E88C42, #B2727D);

    &-transitioned {
      transition: all 0.5s ease-out;
      transform: rotate(180deg);
    }
  }

  &__logo {
    width: 160px;
    height: 100%;
    background: linear-gradient(to bottom right, #E88C42, #B2727D);
    position: absolute;
    display: flex;
    align-items: center;

    &-content {
      font-family: "Comic Sans MS";
      color: white;
      margin: auto;
      font-size: 25px;
    }
  }

  &__right {
    position: absolute;
    right: 0px;
    display: flex;

    &__item {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #1F2020;
      height: 60px;
      width: 100px;
      box-sizing: border-box;
      background: transparent;
      padding: 0 10px;
      transition: all 0.2s ease-out;
      cursor: pointer;

      &:hover {
        background: darken(@header-color, 10%);
      }

      &-text {
        font-size: 17px;
      }
    }
  }
}

.content {
  position: absolute;
  top: 60px;
  left: 160px;
}

@media (max-width: 900px) {
  .header__menu {
    display: block;
  }

  .header__logo {
    background: @header-color;
    left: 50%;
    transform: translateX(-50%);

    &-content {
      color: #1F2020;
    }
  }

  .header__right__item-profile {
    display: none;
  }
}
